<div class="container">
    <div class="row">
        <div class="col-12 text-center text-primary my-2">
            <h1 class="fw-bold">Users list</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-new-user (onManCreated)="onAddMan($event)" (onWomanCreated)="onAddWoman($event)" (onOtherCreated)="onAddOther($event)"></app-new-user>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-user-card [data]="user" *ngFor="let user of users"></app-user-card>
        </div>
    </div>
</div>
